# Example in how to using this universal format for the scans

# A Universal Scan Format

## Overview
The point of these functions is to use a universal format for our scanning of the parameter space of this MFDM model.
This is to help ease the process of when we combine the 4 different searches of the parameter space together (collider searches,
direct detection, indirect detection and relic density). 

As of 06/02/20, the libary of functions should be used like the following:

1) Use grid_scan_generator to create the scan

2) Implement scan_reader to read MD1,MDP,MD3 for each row of the scan, this mass combo can then be passed into the relevent MicroMegas
   or Calchep pipeline, which then hopefully ouputs a 1 if such a mass combo is allowed or a 0 if its not allowed

3) The way python works, its easier to write a new output scan instead of editing the input scan. So this step you need to create
   a template output scan csv using the generate_output_scan_template_csv function with same columns as our input scan in step 1)

4) Using the store_result function, we can then store our result (if parameter point is allowed or not, a 1 or 0) from step 2) and store
   it in the output scan csv generated from step 3)

In [55]:
#import necessary functions
from universal_scan_format import grid_scan_generator,random_scan_generator,scan_reader, generate_output_scan_template_csv, store_result
from numpy.random import randint

# Step 1) Generate the input grid or random scan
#grid_scan_generator(MD1_range=[0,1,1],MDP_range=[0,3,1], MD3_range=[0,5,1], output_file_name='colm_input_grid_scan.csv')
random_scan_generator(MD1_range=[60,1000,4],MDP_range=[60,1000,5], MD3_range=[60,1000,5], output_file_name='colm_input_random_scan.csv')

# Step 3) Generate the output grid scan
generate_output_scan_template_csv(output_csv='colm_output_random_scan.csv')

# Step 2) Iterate through each parameter point in scan
for row in scan_reader(input_scan_csv='colm_input_random_scan.csv'):
    MD1, MDP, MD3 = float(row[1]), float(row[2]), float(row[3])
    #feed this MD1, MDP, MD3 into your pipeline, outputting a 1 or 0 for allowed or not allowed
    #as example lets generate a random result if its allowed or not
    result = randint(2)
    #step 4) Store the result in output grid scan
    store_result(row, result, search_type='DD', output_csv='colm_output_random_scan.csv')

# lets see the results

## The input scan

In [56]:
pd.read_csv('colm_input_random_scan.csv', index_col=0)

,MD1,MDP,MD3,delta_MDP,delta_MD3,allowed_by_LHC,allowed_by_DD,allowed_by_ID,allowed_by_RD
0,125.818321,439.563240,662.396904,313.744920,536.578584,NaN,NaN,NaN,NaN
1,125.818321,439.563240,660.365356,313.744920,534.547035,NaN,NaN,NaN,NaN
2,125.818321,299.998986,432.143802,174.180665,306.325481,NaN,NaN,NaN,NaN
3,125.818321,299.998986,662.396904,174.180665,536.578584,NaN,NaN,NaN,NaN
4,125.818321,299.998986,660.365356,174.180665,534.547035,NaN,NaN,NaN,NaN
5,125.818321,307.988665,432.143802,182.170345,306.325481,NaN,NaN,NaN,NaN
6,125.818321,307.988665,662.396904,182.170345,536.578584,NaN,NaN,NaN,NaN
7,125.818321,307.988665,660.365356,182.170345,534.547035,NaN,NaN,NaN,NaN

## The output scan

In [57]:
pd.read_csv('colm_output_random_scan.csv', index_col=0)

,MD1,MDP,MD3,delta_MDP,delta_MD3,allowed_by_LHC,allowed_by_DD,allowed_by_ID,allowed_by_RD
0,125.818321,439.563240,662.396904,313.744920,536.578584,NaN,0,NaN,NaN
1,125.818321,439.563240,660.365356,313.744920,534.547035,NaN,0,NaN,NaN
2,125.818321,299.998986,432.143802,174.180665,306.325481,NaN,0,NaN,NaN
3,125.818321,299.998986,662.396904,174.180665,536.578584,NaN,0,NaN,NaN
4,125.818321,299.998986,660.365356,174.180665,534.547035,NaN,1,NaN,NaN
5,125.818321,307.988665,432.143802,182.170345,306.325481,NaN,0,NaN,NaN
6,125.818321,307.988665,662.396904,182.170345,536.578584,NaN,1,NaN,NaN
7,125.818321,307.988665,660.365356,182.170345,534.547035,NaN,0,NaN,NaN