# Example in how to using this universal format for the scans

# A Universal Scan Format

## Overview
The point of these functions is to use a universal format for our scanning of the parameter space of this MFDM model.
This is to help ease the process of when we combine the 4 different searches of the parameter space together (collider searches,
direct detection, indirect detection and relic density). 

As of 06/02/20, the libary of functions should be used like the following:

1) Use grid_scan_generator to create the scan

2) Implement scan_reader to read MD1,MDP,MD3 for each row of the scan, this mass combo can then be passed into the relevent MicroMegas
   or Calchep pipeline, which then hopefully ouputs a 1 if such a mass combo is allowed or a 0 if its not allowed

3) The way python works, its easier to write a new output scan instead of editing the input scan. So this step you need to create
   a template output scan csv using the generate_output_scan_template_csv function with same columns as our input scan in step 1)

4) Using the store_result function, we can then store our result (if parameter point is allowed or not, a 1 or 0) from step 2) and store
   it in the output scan csv generated from step 3)

In [1]:
#add our modules to python path so it they can be imported
import os
import sys
sys.path.insert(0, os.path.abspath('../dm_checker'))
#import necessary functions
import csv
from tqdm import tqdm
from numpy.random import randint
import sys
import subprocess
from scan_utils import *
from config_dict import config_dict

In [2]:
# Step 1) Generate the input grid or random scan
#grid_scan_generator(MD1_range=[0,1,1],MDP_range=[0,3,1], MD3_range=[0,5,1], output_file_name='colm_input_grid_scan.csv')
random_scan_generator(MD1_range=[60,1000,4],MDP_range=[60,1000,5], MD3_range=[60,1000,5], output_file_name='example_input_random_scan.csv')

# Step 3) Generate the output grid scan
generate_output_scan_template_csv(output_csv='example_output_random_scan.csv')

# Step 2) Iterate through each parameter point in scan
for row in scan_reader(input_scan_csv='example_input_random_scan.csv'):
    MD1, MDP, MD3 = float(row[1]), float(row[2]), float(row[3])
    #feed this MD1, MDP, MD3 into your pipeline, outputting a 1 or 0 for allowed or not allowed
    #as example lets generate a random result if its allowed or not
    result = {'DD': randint(2)}
    #step 4) Store the result in output grid scan
    store_result(input_row=row, output_csv='example_output_random_scan.csv', **result)

# lets see the results

## The input scan

In [3]:
pd.read_csv('example_input_random_scan.csv', index_col=0)

,MD1,MDP,MD3,delta_MDP,delta_MD3,allowed_by_LHC,allowed_by_DD,allowed_by_ID,allowed_by_RD
0,463.351904,824.702053,961.841369,361.350149,498.489465,NaN,NaN,NaN,NaN
1,463.351904,917.515156,961.841369,454.163251,498.489465,NaN,NaN,NaN,NaN
2,268.851645,824.702053,961.841369,555.850407,692.989724,NaN,NaN,NaN,NaN
3,268.851645,433.160615,961.841369,164.308970,692.989724,NaN,NaN,NaN,NaN
4,268.851645,917.515156,961.841369,648.663510,692.989724,NaN,NaN,NaN,NaN
5,552.335750,824.702053,961.841369,272.366303,409.505619,NaN,NaN,NaN,NaN
6,552.335750,917.515156,961.841369,365.179406,409.505619,NaN,NaN,NaN,NaN
7,843.376399,917.515156,961.841369,74.138757,118.464971,NaN,NaN,NaN,NaN

## The output scan

In [4]:
pd.read_csv('example_output_random_scan.csv', index_col=0)

,MD1,MDP,MD3,delta_MDP,delta_MD3,allowed_by_LHC,allowed_by_DD,allowed_by_ID,allowed_by_RD
0,463.351904,824.702053,961.841369,361.350149,498.489465,NaN,0,NaN,NaN
1,463.351904,917.515156,961.841369,454.163251,498.489465,NaN,1,NaN,NaN
2,268.851645,824.702053,961.841369,555.850407,692.989724,NaN,1,NaN,NaN
3,268.851645,433.160615,961.841369,164.308970,692.989724,NaN,1,NaN,NaN
4,268.851645,917.515156,961.841369,648.663510,692.989724,NaN,1,NaN,NaN
5,552.335750,824.702053,961.841369,272.366303,409.505619,NaN,1,NaN,NaN
6,552.335750,917.515156,961.841369,365.179406,409.505619,NaN,0,NaN,NaN
7,843.376399,917.515156,961.841369,74.138757,118.464971,NaN,1,NaN,NaN